.x-table {
    border: 1px solid #000000;
}

.x-table th {
    border-left: 1px solid #000000;/*  inner column border */
}

.x-table-bordered td {
    border-bottom: 1px solid #000000;
}

.x-table-horizontal th {
    border-bottom: 1px solid #000000;
}
